@charset "utf-8";
/* CSS Document */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('aijier_4_n-pic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
    max-width: 800px; /* 设置主体内容的最大宽度 */
    margin: 0 auto; /* 使主体内容在页面中水平居中 */
}

.special-text {
    color: red;
    font-family: "华文中宋";
    font-size: 24px; /* 二号字约等于 24px */
}

.centered-text {
    text-align: center;
}

.indented-text {
    text-indent: 2em;
}

.larger-text {
    font-size: 18px;
}